/* This file is for your main application css. */

body,
html {
    margin-top: 10px;
    height: 100%;
    font-size: 10px !important;
    color: #4C1C00 !important;
}

body {
    font-family: 'Titillium Web' !important; 
    background-color: #4C1C00 !important;
}

h1 {
    color: #ffffff;
    font-size: 28px;
}

label {
    color: #695A46 !important;
    font-size: 2.5rem !important;
}

select {
  height: 3.8rem !important;
}

h1#welcome {
  font-size: 3.5rem !important;
}

.form-control {
  font-size: 1.6rem !important;
}

.form {
    padding: 2.2rem;
    background: #ffffff;
    margin-left: auto;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn-dark {
    background: #000 !important;
    font-size: 2rem !important;
    margin-top: 41px;
    margin-right: 2px;
}

input[type='submit'] {
    border: 0.1rem solid #4C1C00;
}

.alert-failure {
    color: #be7e3e;
    background-color: #e6ccb3;
    border-color: #4C1C00;
}

.alert-success {
    color: #b30000;
    background-color: #f3d9da;
    border-color: #4C1C00;
}

.help-block {
    font-size: large;
    color: red !important;
    margin: 0 0 0 !important;
}

.results {
  min-height: 55px;
}

@import "./phoenix.css";
